<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxd.shiro.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.hxd.shiro.entry.User" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,name,password
    </sql>

	<select id="findByUsername" parameterType="String" resultMap="BaseResultMap" >
	    select 
		 <include refid="Base_Column_List" />
	   from user where name = #{value}
	  </select>

    <!-- <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM users
    </select>

    <select id="getOne" parameterType="Integer" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM users
	   WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.demo.entity.UserEntity" >
       INSERT INTO 
       		users
       		(userName,passWord,userSex) 
       	VALUES
       		(#{userName}, #{passWord}, #{userSex})
    </insert>
    
    <update id="update" parameterType="com.example.demo.entity.UserEntity" >
       UPDATE 
       		users 
       SET 
       	<if test="userName != null">userName = #{userName},</if>
       	<if test="passWord != null">passWord = #{passWord}</if>
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="Integer" >
       DELETE FROM
       		 users 
       WHERE 
       		 id =#{id}
    </delete> -->
</mapper>